<% provide(:title, 'All users') %>
<h1>All users</h1>
      
      <%= form_tag users_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:bloodsearch] %><br/>
        <%= text_field_tag :group, params[:group] %>
        <%= submit_tag "Search" %><br/>
      </p>
      <% end %>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for_user user, size: 52 %>
      <%= link_to user.name, user %>
      <% if signed_in? %>
        
     
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
                                  <% end %>

      <% end %>
      <br>
      <b>Blood Group : <%= user.bloodgroup %></b>
      <br>
      <b>Postal Code : <%= user.zip %></b>
      
    </li>
  <% end %>
</ul>

<%= will_paginate %>